backend/node_modules
backend/storage/tiendas/profile/*.jpg
backend/storage/tiendas/profile/*.jpeg
backend/storage/tiendas/profile/*.png
backend/storage/usersProfile*.jpg
backend/storage/usersProfile*.jpeg
backend/storage/usersProfile*.png