@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
	--main-color: #1e5bd6;
	--background-color: #dde6f5;
	--rectangulo-color: #f4f0a4;
	--letrasBlancas-color: #f1f4fe;
	--letrasAzules-color: #4d7cff;
	--degradadoFondo-color: linear-gradient(
		265deg,
		#3145e3cc 0%,
		#4d62ffcc 51%,
		#7c92ffcc 100%
	);

	/*
	Degradado viejo
	--degradadoFondo-color: 
	linear-gradient(50.94deg,
	#7c92ffcc 1.31%,
	#4d62ffcc 42.31%,
	#3145e3cc 74.71%)

	
	*/
}

body::-webkit-scrollbar {
	width: 12px;
}

body::-webkit-scrollbar-thumb {
	background: #999;
	border-radius: 50px;
}

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	transition: all 0.2s linear;
	line-height: 1.5;
	color: #000;
}

body {
	background: #fff;
	min-height: 100vh;
	overflow-x: hidden;
	background-color: var(--background-color);
}

/* utilidades */

.bold {
	font-weight: 700;
}

.box-container-inicio {
	background: var(--degradadoFondo-color);
	/* border-radius: 1rem;
	border-radius: 0 0 1rem 1rem; */
}

header {
	background: var(--degradadoFondo-color);
	position: sticky;
	z-index: 50;
	font-size: 0.8rem;
	top: 0;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
}

.header-2 {
	background: var(--degradadoFondo-color);
	position: sticky;
	border-radius: 0px 0px 1rem;
	margin-left: 3rem;
	z-index: 50;
	font-size: 0.8rem;
	top: 0;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: left;
	align-items: center;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
}

header ul {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	padding: 0.5rem 0;
}

.btn_perfil {
	display: none;
}

.btn_perfil--show {
	display: list-item;
}

header ul li {
	list-style: none;
	padding: 0.5rem;
}

header ul li a {
	position: sticky;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
}

header ul li a::before {
	content: '';
	position: absolute;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background-color: #fff;
	transform: scaleX(0);
	transition: transform 0.5s ease-in-out;
	transform-origin: right;
}

header ul li a:hover::before {
	transform: scaleY(1);
	transform-origin: left;
}

header .search {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	z-index: 10;
	cursor: pointer;
}

.heading {
	color: var(--letrasBlancas-color);
	font-size: 2rem;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	width: 400px;
}

.heading--nombreTienda {
	color: #000;
}

.rectangulo {
	width: 150px;
	height: 5px;
	background-color: var(--rectangulo-color);
	margin-bottom: 2.5rem;
}

.rectangulo-2 {
	width: 500px;
	height: 5px;
	background-color: var(--rectangulo-color);
}

.box-container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.box-container .box-1 {
	width: 40%;
	resize: none;
	padding: 2rem;
}

.box-container .box-2 {
	width: 60%;
	padding-left: 5rem;
	justify-content: center;
	align-items: center;
	position: absolute;
	overflow: hidden;
	right: 0%;
}

.img-1 {
	width: 650px;
}

.box-container .box {
	justify-content: center;
	align-items: center;
}

.box-container .box p {
	font-size: 25px;
	color: var(--letrasBlancas-color);
	margin-bottom: 2.5rem;
}

.box-container .box .btnCrearCuenta {
	display: flex;
	justify-content: center;
	width: 280px;
	margin-top: 2rem;
	margin-bottom: 4rem;
	padding: 1rem 3rem;
	cursor: pointer;
	border-radius: 10rem;
	font-size: 20px;
	font-weight: 600;
	background-color: var(--letrasBlancas-color);
	border-color: var(--letrasBlancas-color);
	text-decoration: none;
}

.box-container .box .btnCrearCuenta .btn-texto {
	display: block;
	color: var(--letrasAzules-color);
	background-color: var(--letrasBlancas-color);
}

.box-container .box .btnCrearCuenta:hover {
	background-color: var(--letrasAzules-color);
	color: var(--letrasBlancas-color);
	border-color: var(--letrasAzules-color);
	transition: 0.05s;
}

.box-container .box .btnCrearCuenta:hover .btn-texto {
	background-color: var(--letrasAzules-color);
	color: var(--letrasBlancas-color);
	transition: 0.05s;
}

.heading-white {
	font-size: 1.1rem;
	color: #fff;
	text-transform: capitalize;
	text-decoration: none;
}

.logo {
	color: #fff;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.icon {
	color: #fff;
}

.icon #blanco {
	color: #fff;
}

.group {
	top: auto;
	display: flex;
	align-items: center;
}

.searchBox {
	position: relative;
	border-radius: 0.5rem;
	width: 500px;
	height: 2rem;
	width: 500px;
	background-color: #e7e7e7;
	text-align: center;
	font-size: 1.25em;
	transition: 0.5s ease-in-out;
}

.searchBox:focus {
	right: 0;
	box-shadow: inset #ccc 0 0 4px 4px;
}

.searchBox.active {
	visibility: visible;
	width: 500px;
}

.searchBtn {
	position: relative;
	opacity: 0;
	scale: 0;
	left: 30px;
	top: 2.5px;
	transition: 0.5s ease-in-out;
}

.searchBtn.active {
	left: 0;
}

.closeBtn {
	opacity: 0;
	transition: 0.5s;
	scale: 0;
}

.closeBtn.active {
	opacity: 1;
	visibility: visible;
	transition: 0.5s;
	scale: 1;
}

header .search {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	z-index: 10;
	cursor: pointer;
}

.searchBox {
	position: relative;
	border-radius: 0.5rem;
	width: 500px;
	height: 2rem;
	width: 500px;
	background-color: #e7e7e7;
	text-align: center;
	font-size: 1.25em;
	transition: 0.5s ease-in-out;
}

.searchBox:focus {
	right: 0;
	box-shadow: inset #ccc 0 0 4px 4px;
}

.searchBox.active {
	visibility: visible;
	width: 500px;
}

/* .searchBox input {
	width: 80%;
	border: none;
	outline: none;
	height: 20px;
	color: #333;

	background-color: #e7e7e7;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	text-align: center;
} */

.menuToggle {
	color: #fff;
	position: relative;
	display: none;
}

/*---- Modal salir de sesion -----*/

.modalSesion__sesion {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #111111bd;
	display: flex;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.6s 0.9s;
	--transform: translateY(-100vh);
	--transition: transform 0.8s;
}

.modalSesion__sesion--show {
	opacity: 1;
	pointer-events: unset;
	transition: opacity 0.4s;
	--transform: translateY(0);
	--transition: transform 0.2s 0.2s;
}

.modalSesion__sesion-container {
	margin: auto;
	width: 90%;
	max-width: 600px;
	max-height: 90%;
	background-color: #fff;
	border-radius: 6px;
	padding: 3rem 2.5rem;
	display: grid;
	gap: 1em;
	place-items: center;
	grid-auto-columns: 100%;
	transform: var(--transform);
	transition: var(--transition);
}

.modalSesion__sesion-title {
	font-size: 1.5rem;
}

.modalSesion__sesion-img {
	width: 40%;
	max-width: 300px;
}

.modalSesion__sesion-options {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(2, 1fr);
}

.modalSesion__si {
	text-decoration: none;
	color: #fff;
	background-color: var(--letrasAzules-color);
	padding: 1em 3em;
	border: 1px solid;
	border-radius: 6px;
	display: inline-block;
	font-weight: 300;
	transition: background-color 0.3s;
}

.modalSesion__no {
	text-decoration: none;
	color: #fff;
	background-color: var(--letrasAzules-color);
	padding: 1em 3em;
	border: 1px solid;
	border-radius: 6px;
	display: inline-block;
	font-weight: 300;
	transition: background-color 0.3s;
}

.modalSesion__no:hover {
	color: var(--letrasAzules-color);
	background-color: #fff;
}

.modalSesion__si:hover {
	color: var(--letrasAzules-color);
	background-color: #fff;
}

/*parte responsive*/
@media (max-width: 800px) {
	.searchBtn {
		left: 0;
		visibility: visible;
		opacity: 1;
		scale: 1;
	}
	.searchBox {
		width: 0;
		opacity: 0;
		scale: 0;
		visibility: hidden;
	}

	.searchBox.active {
		width: 300px;
		opacity: 1;
		scale: 1;
		visibility: visible;
	}

	header ul li a {
		color: #333;
	}

	.menuToggle {
		color: #fff;
		position: absolute;
		display: block;
		font-size: 2em;
		cursor: pointer;
		transform: translateX(30px);
		z-index: 10;
	}

	header ul li a::before {
		background-color: #333;
	}

	header .navigation {
		position: absolute;
		opacity: 0;
		visibility: hidden;
		left: 100%;
	}

	header.open .navigation {
		top: 100px;
		opacity: 1;
		visibility: visible;
		left: 0;
		display: flex;
		flex-direction: column;
		background-color: #fff;
		width: 100%;
		height: calc(100vh - 80px);
		padding: 40px;
		border-top: 1px solid rgba(0, 0, 0, 0.5);
	}

	header.open .navigation li a {
		font-size: 1.25rem;
	}

	.hide {
		display: none;
	}

	.tiendas-destacadas .box-container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		flex-direction: column;
	}

	.tiendas-destacadas .box-container .box .texto {
		display: flex;
		justify-content: center;
		padding: 1rem;
		gap: 1rem;
		flex-direction: column;
	}

	.tiendas-miPerfil .box-container-miPerfil .box-miPerfil .texto-miPerfil {
		display: flex;
		justify-content: center;
		padding: 1rem;
		gap: 1rem;
		flex-direction: column;
	}
}

/*
        fin del header---------inicio del main
*/

.tiendas-destacadas_heading {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tiendas-destacadas_heading .heading {
	color: var(--letrasAzules-color);
	font-size: 2.5rem;
	font-weight: 500;
	padding-top: 3rem;
	padding-bottom: 0rem;
	width: 410px;
}

.tiendas-destacadas_heading .rectangulo-2 {
	background-color: var(--letrasAzules-color);
}

.tiendas-destacadas .tiendas-container {
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(auto-fit, 280px);
	grid-gap: 2rem;
	justify-content: space-around;
	padding: 3rem;
}

.tiendas-destacadas .tiendas-container .tiendas {
	box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: 0.2s;
	border-radius: 10px;
	width: 400px;
	background: var(--letrasBlancas-color);
	padding: 12.5rem 1rem 1rem 1rem;
	position: relative;

	max-width: 280px;
	display: flex;
	flex-flow: column;
	cursor: pointer;
	transition-property: box-shadow;
	transition-duration: 0.3s;
}

.tiendas-destacadas .tiendas-container .tiendas .heading {
	font-size: 25px;
	font-weight: 500;
	width: 400px;
	color: #000;
	padding-bottom: 0;
}

.tiendas-destacadas .tiendas-container .tiendas:hover {
	transform: translateY(-4px);
	box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.15);
}

.tiendas-destacadas .tiendas-container .tiendas:hover .ubicacion {
	opacity: 1;
}

.tiendas .perfil {
	width: 100%;
	height: 200px;
	background-size: cover;
	background-position: center;
	transition: 0.2s;
	position: absolute;
	top: 0;
	left: 0;
}

.grid-tiendas {
	display: grid;
	grid-template-columns: repeat(auto-fit, 100px);
	grid-template-rows: 1fr;
	grid-gap: 1em;
	padding: 1rem;
	justify-content: space-around;
}

.grid-tiendas .productos-tienda {
	max-width: 100px;
	display: flex;
	flex-flow: column;
	border-radius: 6px;
	box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.2);
	background-color: #fff;
	cursor: pointer;
	transition-property: box-shadow;
	transition-duration: 0.3s;
}

.tiendas:hover .perfil {
	transform: scale(1.1);
}

.tiendas-destacadas .heading {
	/*
	width: 300px;
	margin: auto;
	color: var(--letrasAzules-color);
	font-size: 30px;
	font-weight: 500;*/
}

.inner-container .inner-box p {
	font-size: 15px;
	color: black;
	padding-bottom: 1rem;
	text-align: center;
	font-weight: 100;
	font-size: 15px;
}

.inner-container .inner-box h3 {
	text-align: center;
	padding-top: 1rem;
	font-weight: 500;
	font-size: 20px;
}

.inner-container .inner-box ul {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 2rem;
	list-style: none;
}

.inner-container .inner-box li {
	margin-top: 0.5rem;
}

/*.inner-btnCrearCuenta
{
	display: flex;
	margin: auto;
	margin-bottom: 1rem;
	padding: 1rem 3rem;
	color: var(--letrasBlancas-color);
	background-color: var(--letrasAzules-color);
	cursor: pointer;
	border-radius: 10rem;
	font-size: 20px;
	font-weight: 600;
	border-color: var(--letrasBlancas-color);	
}

.inner-btnCrearCuenta:hover
{
	color: rgba(256, 256, 256, 0.5);
}*/

/*---------- Productos destacados */

.productos-destacados_heading {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.productos-destacados_heading .heading {
	color: var(--letrasAzules-color);
	font-size: 2.5rem;
	font-weight: 500;
	padding-top: 3rem;
	padding-bottom: 0rem;
	width: 454px;
}

.productos-destacados_heading .rectangulo-2 {
	width: 500px;
	height: 5px;
	background-color: var(--letrasAzules-color);
}

/* -------------- vista ayuda -------------------        */

.modalSesion {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #111111bd;
	display: flex;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.6s 0.9s;
	--transform: translateY(-100vh);
	--transition: transform 0.8s;
}

.modalSesion--show {
	opacity: 1;
	pointer-events: unset;
	transition: opacity 0.4s;
	--transform: translateY(0);
	--transition: transform 0.2s 0.2s;
}

.modalSesion__container {
	margin: auto;
	width: 90%;
	max-width: 600px;
	max-height: 90%;
	background-color: #fff;
	border-radius: 6px;
	padding: 3rem 2.5rem;
	display: grid;
	gap: 1em;
	place-items: center;
	grid-auto-columns: 100%;
	transform: var(--transform);
	transition: var(--transition);
}

.modalSesion__title {
	font-size: 1.5rem;
}

.modalSesion__paragraph {
	margin-bottom: 10px;
}

.modalSesion__img {
	width: 40%;
	max-width: 300px;
}

.modalSesion__close {
	text-decoration: none;
	color: #fff;
	background-color: var(--letrasAzules-color);
	padding: 1em 3em;
	border: 1px solid;
	border-radius: 6px;
	display: inline-block;
	font-weight: 300;
	transition: background-color 0.3s;
}

.modalSesion__close:hover {
	color: var(--letrasAzules-color);
	background-color: #fff;
}

.searchBox-container {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	/* margin-top: 6rem; */
	padding-left: 1rem;
	gap: 1rem;
}

.cajita {
	background: var(--background-color);
	border-radius: 5px 40px;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: left;
	box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.1);
	transition: 0.2s;
	cursor: pointer;
	text-decoration: none;
}

.cajita:hover {
	transform: translateY(-4px);
	box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.15);
}

.cajita .texto-cajita {
	display: block;
	flex-direction: column;
	text-align: left;
	margin: 1.5rem;
}

.cajita .texto-cajita p {
	color: var(--main-color) !important;
	font-size: 0.9rem;
}

.cajita .texto-cajita h4 {
	font-size: 1.1rem;
	font-weight: 500;
}

/*		perfil		*/
/* LAYOUT */

.menu-dashboard {
	max-width: max-content;
	max-height: fit-content;
	height: 92vh;
	background: linear-gradient(
		50.94deg,
		#7c92ffcc 1.31%,
		#4d62ffcc 42.31%,
		#3145e3cc 74.71%
	);
	padding: 5px;
	transition: max-width 0.3s ease;
	position: sticky;
	top: 80px;
}

.top-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.top-menu .logo span {
	font-size: 20px;
	margin-left: 20px;
	display: none;
}

.top-menu .toggle {
	width: 30px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.top-menu .toggle i {
	font-size: 35px;
}

/* INPUT BOX */

.input-search {
	width: 100%;
	margin: 30px 0;
	background-color: #fff;
	padding: 5px;
	border-radius: 8px;
	display: flex;
	align-items: center;
}

.input-search i {
	font-size: 30px;
	margin-right: 20px;
}

.input-search .input {
	border: none;
	outline: none;
	background-color: transparent;
	width: 100%;
	height: 30px;
	color: #000;
	font-size: 22px;
	display: none;
}

/* dashboard */

.menu .enlace {
	width: 100%;
	padding: 20px 0 20px 17px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	cursor: pointer;
	font-size: 20px;
	transition: all 0.3s ease;
	text-decoration: none;
}

.menu .enlace:hover {
	background: #3145e3cc;
}

.menu .enlace i {
	margin-right: 20px;
	font-size: 25px;
}

.menu .enlace span {
	/* opacity: 0; */
	transition: opacity 0.3s ease;
}

.menu-dashboard.open {
	max-width: 300px;
}

.menu-dashboard.open .top-menu span {
	display: block;
}

.menu-dashboard.open .input-search .menu-dashboard.open .menu .enlace {
	width: auto;
}

.menu-dashboard.open .input-search .input {
	display: block;
}

.menu-dashboard.open .menu .enlace {
	padding: 20px;
}

.menu-dashboard.open .menu .enlace span {
	opacity: 1;
}

/* ======================================*/
.tiendas-miPerfil {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.tiendas-miPerfil .heading {
	text-align: center;
	padding: 2rem;
}

.tiendas-miPerfil .box-container-miPerfil {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1.5rem;
}

.tiendas-miPerfil .box-container-miPerfil .box-miPerfil {
	width: calc(55% - 1rem);
	margin: 0.5rem;
	text-align: var(center + 5px);
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	background-color: #fff;
}

.labelImg {
	display: block;
	width: 200px;
	color: #fff;
	padding: 12px;
	margin: 10px auto;
	border-radius: 5px;
	cursor: pointer;
}

.input-fileImg {
	display: none;
}

.tiendas-miPerfil .box-container-miPerfil .box-miPerfil .circular-miPerfil {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
	justify-content: center;
	text-align: center;
}

.tiendas-miPerfil .box-container-miPerfil .box-miPerfil .texto-miPerfil {
	display: flex;
	justify-content: center;
	padding: 2rem;
	gap: 2rem;
}

/* 		Login		 */

.background-degradado {
	background: linear-gradient(
		50.94deg,
		#7c92ffcc 1.31%,
		#4d62ffcc 42.31%,
		#3145e3cc 74.71%
	);
}

.wrapper {
	width: 330px;
	padding: 2rem 1rem;
	margin: 50px auto;
	background-color: #fff;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 20px 35px rgba(0, 0, 0, 0.5);
}

form input {
	width: 92%;
	outline: none;
	border: 1px solid #fff;
	padding: 0.75rem;
	margin-bottom: 10px;
	border-radius: 20px;
	background-color: #c7c7c7;
}

.btn-login {
	display: flex;
	margin: 1rem;
	padding: 0.8rem 3rem;
	color: #fff;
	background-color: #1e5bd6;
	cursor: pointer;
	border-radius: 10rem;
	margin-left: auto;
	margin-right: auto;
}

.btn-login--disabled {
	background-color: #c7c7c7;
	cursor: not-allowed;
}

.btn-login:hover {
	background-color: #3145e3;
}

input:focus {
	border: 1px solid #c0c0c0;
}

.terms {
	margin-top: 0.2rem;
}

.terms input {
	height: 1em;
	width: 1em;
	vertical-align: middle;
	cursor: pointer;
}

.terms label {
	font-size: 0.7rem;
}

.terms a {
	color: var(--main-color);
	text-decoration: none;
}

.member {
	font-size: 0.8rem;
	margin-top: 1.4rem;
	color: #333;
}

.member a {
	color: var(--main-color);
	text-decoration: none;
}

/* explorar */
.heading-3 {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	margin: auto;
	color: var(--letrasAzules-color);
	font-size: 30px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, 280px);
	grid-template-rows: 1fr;
	grid-gap: 1em;
	padding: 3rem;
	justify-content: space-around;
}
.producto{
	max-width: 280px;
	display: flex;
	flex-flow: column;
	border-radius: 6px;
	box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.2);
	background-color: #fff;
	cursor: pointer;
	transition-property: box-shadow;
	transition-duration: 0.3s;
}
.producto:hover {
	box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2);
}
.producto > img {
	width: 100%;
	object-fit: cover;
}
.informacion {
	border-top: 1px solid #e6e6e6;
	padding: 1rem;
	display: flex;
	flex-flow: column;
}
.informacion * + * {
	margin-bottom: 0.5em;
}
.tipo-envio {
	background-color: var(--main-color);
	color: #fff;
	font-weight: 600;
	max-width: max-content;
	padding: 0 0 0.2em;
	border-radius: 3px;
}
.precio {
	font-size: 1.5rem;
}
.precio-envio {
	color: #00a650;
}
.descripcion {
	font-weight: 300;
}
.precio-envio .descripcion,
.ubicacion {
	font-size: 0.9em;
}

.calificacion,
.ubicacion {
	opacity: 0;
	transition-duration: 0.3s;
	transition-property: opacity;
	font-weight: 100;
}
.producto:hover .calificacion,
.producto:hover .ubicacion {
	opacity: 1;
}

.tipo-envio,
.calificacion {
	font-size: 0.8em;
}
.calificacion {
	display: flex;
	flex-direction: row nowrap;
	align-items: center;
}
.calificacion > * {
	margin: 0;
}
.calificacion ion-icon {
	color: var(--main-color);
}
.icono-centrado {
	display: flex;
	justify-content: center;
}

/* ------------------ userForm ------------------------------ */

.mensajeError {
	width: 100%;
	color: #f00;
	background-color: #ff9a98;
	font-size: 12px;
	border-radius: 5px;
	padding: 10px 10px;
	animation-name: mostrarMensaje;
	animation-duration: 0.6s;
}

.mensajeError--fade {
	animation-name: fadeMensaje;
}

@keyframes mostrarMensaje {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeMensaje {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/*---------------- CONTACTANOS PAGE -------------- */

.section-contactanos {
	position: relative;
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
}

section .contacto-form {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	gap: 20px;
	padding: 40px;
	width: 100%;
	height: 100%;
	background: var(--degradadoFondo-color);
	box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
}

section .contacto-form .form {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: left;
	flex-direction: column;
	width: 85%;
	margin-left: 30px;
}

section .contacto-form .form form {
	width: 100%;
}

section .contacto-form .form .contact-form-text h2 {
	color: var(--rectangulo-color);
	font-size: 2em;
	margin-bottom: 10px;
}

section .contacto-form .form .contact-form-text p {
	color: var(--letrasBlancas-color);
	line-height: 1.5;
}

section .contacto-form .form form .inputbox {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	margin-top: 15px;
}

section .contacto-form .form form .inputbox label {
	color: var(--letrasBlancas-color);
	font-weight: 700;
}

section .contacto-form .form form .inputbox input[type='text'],
section .contacto-form .form form .inputbox input[type='email'],
section .contacto-form .form form .inputbox textarea {
	border: none;
	background: var(--background-color);
	padding: 10px;
	border-radius: 15px;
	color: #000;
	resize: none;
}

section .contacto-form .form form .inputbox input[type='text']:focus,
section .contacto-form .form form .inputbox input[type='email']:focus,
section .contacto-form .form form .inputbox textarea:focus {
	outline: 2px solid #000;
}

section .contacto-form .form form input[type='submit'] {
	background-color: var(--background-color);
	display: inline-block;
	text-align: center;
	width: 250px;
	padding: 10px;
	border-radius: 15px;
	color: var(--letrasAzules-color);
	letter-spacing: 1px;
	border: none;
	cursor: pointer;
	box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
	transition: 0.3s;
	font-weight: 600;
}

section .contacto-form .form form input[type='submit']:hover {
	background: var(--letrasAzules-color);
	color: var(--letrasBlancas-color);
	transition: 0.05s;
}

section .contacto-form .info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

section .contacto-form .info .imgBox {
	position: relative;
	width: 450px;
	height: 450px;
}

section .contacto-form .info .imgBox img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

section .contacto-form .info .info-textBox {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

section .contacto-form .info .info-textBox .info-contact {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 10px;
}

section .contacto-form .info .info-textBox .info-contact ion-icon {
	font-size: 2em;
	margin-right: 10px;
	color: var(--letrasBlancas-color);
}

section .contacto-form .info .info-textBox .info-contact p {
	color: var(--letrasBlancas-color);
}

section .contacto-form .info .info-rrss ion-icon {
	padding: 20px;
	font-size: 2em;
	color: var(--letrasBlancas-color);
	transition: 0.3s;
}

section .contacto-form .info .info-rrss ion-icon:hover {
	color: #caddff;
}

/*Responsive*/

@media only screen and (max-width: 1200px) {
	section .contacto-form {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}

	section .contacto-form .info .imgBox img {
		position: absolute;
		bottom: 50px;
		left: 0px;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	section .contacto-form .info .info-textBox {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		position: relative;
		top: -60px;
	}
}

@media only screen and (max-width: 768px) {
	section .contacto-form .info {
		height: 300px;
		padding: 20px;
	}

	section .contacto-form .info .imgBox {
		display: none;
	}
}
@media only screen and (max-width: 600px) {
	section .contacto-form .form {
		margin-left: 0px;
		width: 100%;
	}

	section .contacto-form .info {
		margin-bottom: 30px;
	}
}

.btnAgregar {
	background-color: var(--letrasAzules-color);
	display: inline-block;
	text-align: center;
	width: 250px;
	padding: 10px;
	border-radius: 15px;
	color: var(--background-color);
	letter-spacing: 1px;
	border: none;
	cursor: pointer;
	box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
	transition: 0.3s;
	font-weight: 600;
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 0.4s;
	z-index: 500;
}

.btnAgregar:hover {
	transform: scale(1.05);
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	background: #0008;
	visibility: hidden;
	opacity: 0;
	transition: all 0.35s ease-in;
	z-index: 1000;
}

.modal__dialog {
	position: relative;
	max-width: 80vw;
	max-height: 80vh;
	border-radius: 5px;
	background: #fff;
	overflow: auto;
	cursor: default;
}

.modal__header {
	padding: 5px 10px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ccc;
	gap: 40px;
}

.modal__title {
	padding: 0;
	margin: 0;
	color: #fff;
}

.modal__footer {
	padding: 1rem 1.5rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-top: 1px solid #ccc;
}

.modal--visible {
	visibility: visible;
	opacity: 1;
}

.formModal {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.formModal__Divider {
	padding: 20px 20px;
	display: flex;
	flex-direction: column;
}

.formModal__select {
	background-color: #c7c7c7;
	padding: 15px 5px;
	border-radius: 20px;
}

.formModal__option {
	background-color: #fff;
}

.formModal__imagePreview {
	display: none;
	height: 200px;
	width: 200px;
	text-align: center;
	margin: 0 auto;
	border-radius: 30px;
	object-fit: cover;
}

.formModal__imagePreview--visible {
	display: block;
}

.formModal__submit {
	display: block;
	background-color: var(--letrasAzules-color);
	color: var(--background-color);
	padding: 10px;
	width: 200px;
	margin: 0 auto 20px auto;
	border-radius: 15px;
	border: none;
	cursor: pointer;
	box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
	transition: 0.3s;
	font-weight: 600;
}

.formModal__textarea {
	background-color: #c7c7c7;
	border-radius: 15px;
	resize: none;
	padding: 10px;
}

.formModal__submit--disabled {
	background-color: #c7c7c7;
	color: #fff;
	cursor: not-allowed;
}

.formModal__label {
	display: block;
	margin-bottom: 10px;
	margin-left: 20px;
}

.formModal__errorBox {
	padding: 20px;
}

.misTiendas {
	width: 100%;
	display: flex;
}

.misTiendas__grid {
	padding: 20px 40px;
	display: grid;
	flex: 5 1 auto;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 400px;
}

.misTiendas__tienda {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	gap: 10px;
	align-items: center;
	background-color: #ccd4ff;
	padding: 10px 20px;
	border-radius: 20px;
	box-shadow: #555 0 0 4px 2px;
	cursor: pointer;
	transition: all 0.4s;
}

.misTiendas__tienda:hover {
	transform: scale(1.05);
	box-shadow: #222 0 0 4px 3px;
}

.misTiendas__img {
	height: 200px;
	width: 200px;
	object-fit: cover;
	border-radius: 10px;
}

.misTiendas__title {
	font-weight: 700;
}

.misTiendas__nombre {
	font-weight: 700;
	text-align: center;
}

.misTiendas__perfilTienda {
	display: flex;
	width: 100%;
	gap: 30px;
	padding: 20px 0 0 20px;
}

.misTiendas__descripcion {
	overflow: auto;
}

.perfilTienda {
}

.perfilTienda__contenedor {
	display: flex;
	width: 300px;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: #b8c3ef;
	border-radius: 30px;
	padding: 10px;
	gap: 25px;
	font-size: 20px;
}

.productosTienda {
	flex-grow: 1;
}

.perfilTienda__nombre {
	font-weight: 700;
}

.perfilTienda__imagen {
	width: 100%;
	height: 280px;
	object-fit: cover;
	transition: all 0.4s linear;
	border-radius: 50px;
}

.perfilTienda__imagen--expanded {
	border-radius: 100%;
}

.productosTienda__producto {
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

.producto__imagen {
	width: 200px;
	height: 200px;
	object-fit: cover;
}

.compraProducto__btnComprar--comprado {
	cursor: not-allowed;
	animation-name: compraRealizada;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
}

.compraProducto__btnComprar--error {
	cursor: not-allowed;
	animation-name: compraError;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
}

@keyframes compraRealizada {
	100% {
		background-color: #00a650;
	}
}

@keyframes compraError {
	100% {
		background-color: #d33;
	}
}

.ventas {
	width: 100%;
	display: flex;
}

.ventas__flex {
	display: flex;
	flex: 5 1 auto;
	flex-direction: column;
	padding: 20px 20px 20px 0;
	padding: 20px;
}

.ventas__tienda {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
	background-color: #ccd4ff;
	padding: 10px 20px;
	border-radius: 20px;
	box-shadow: #555 0 0 4px 2px;
	cursor: pointer;
	transition: all 0.4s;
}

.ventas__contenedor {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: auto;
	gap: 20px;
}

.ventas__venta {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	background-color: #59b;
	padding: 20px;
	border-radius: 20px;
}

.ventas__title {
	font-weight: 700;
}

.compras {
	width: 100%;
	display: flex;
}

.compras__flex {
	display: flex;
	flex: 5 1 auto;
	flex-direction: column;
	padding: 20px 20px 20px 0;
	padding: 20px;
}

.compras__compra {
	display: flex;
	flex-direction: row;
	gap: 30px;
	justify-content: space-around;
	padding: 10px 0;
}

.compras__compra:nth-child(2n - 1) {
	background-color: #aab8ee;
}
