@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
	--main-color: #1e5bd6;
	--background-color: #dde6f5;
	--rectangulo-color: #f4f0a4;
	--letrasBlancas-color: #f1f4fe;
	--letrasAzules-color: #4d7cff;
	--degradadoFondo-color: linear-gradient(
		265deg,
		#3145e3cc 0%,
		#4d62ffcc 51%,
		#7c92ffcc 100%
	);

	/*
	Degradado viejo
	--degradadoFondo-color: 
	linear-gradient(50.94deg,
	#7c92ffcc 1.31%,
	#4d62ffcc 42.31%,
	#3145e3cc 74.71%)

	
	*/
}

.Perfil__tienda {
	display: flex;
	width: 100%;
}

.Perfil__tienda .misTiendas__grid {
	padding: 20px 40px;
	display: grid;
	flex: 5 1 auto;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 500px;
}

.Perfil__tienda .menu-dashboard {
	max-width: 25%;
}

.sidebar-content {
	display: flex;
	flex-direction: column;
	margin: 1rem;
}

.menu-logo {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.sidebar-content img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 1rem;
	margin-right: 1rem;
}

.sidebar-content h1 {
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 1.5rem;
	color: var(--letrasBlancas-color);
}

.sidebar-content p {
	font-size: 1rem;
	font-weight: 100;
	margin-bottom: 2rem;
	color: var(--letrasBlancas-color);
}

.sidebar-content h2 {
	font-size: 2rem;
	font-weight: 300;
	margin-bottom: 1.5rem;
	color: var(--letrasBlancas-color);
}

.sidebar-content ul {
	list-style: none;
	margin-bottom: 1rem;
}

.sidebar-content li {
	margin-bottom: 1rem;
	color: var(--letrasBlancas-color);
	font-size: 1.2rem;
}

.Productos__tienda {
	max-width: 280px;
	display: flex;
	flex-flow: column;
	border-radius: 8px;
	box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2);
	background-color: rgb(255, 255, 255);
	cursor: pointer;
}

.Productos__tienda:hover {
	box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}

.Productos__tienda > img {
	width: 100%;
	object-fit: cover;
}

.productos__tienda-info {
	border-top: 1px solid rgb(230, 230, 230);
	padding: 1rem;
	display: flex;
	flex-flow: column;
}

.productos__tienda-info * + * {
	margin-bottom: 1rem;
}

.producto_tienda {
	max-width: 280px;
	max-height: 400px;
	display: flex;
	flex-flow: column;
	border-radius: 6px;
	box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.2);
	background-color: #fff;
	cursor: pointer;
	transition-property: box-shadow;
	transition-duration: 0.3s;
}
.producto_tienda:hover {
	box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2);
}
.producto_tienda > img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.informacion {
	border-top: 1px solid #e6e6e6;
	padding: 1rem;
	display: flex;
	flex-flow: column;
}
.informacion * + * {
	margin-bottom: 0.5em;
}
.tipo-envio {
	background-color: var(--main-color);
	color: #fff;
	font-weight: 600;
	max-width: max-content;
	padding: 0 0 0.2em;
	border-radius: 3px;
}
.precio {
	font-size: 1.5rem;
}
.precio-envio {
	color: #00a650;
}
.descripcion {
	font-weight: 300;
}
.precio-envio .descripcion,
.ubicacion {
	font-size: 0.9em;
}

.calificacion,
.ubicacion {
	opacity: 0;
	transition-duration: 0.3s;
	transition-property: opacity;
	font-weight: 100;
}
.producto:hover .calificacion,
.producto:hover .ubicacion {
	opacity: 1;
}

.tipo-envio,
.calificacion {
	font-size: 0.8em;
}
.calificacion {
	display: flex;
	flex-direction: row nowrap;
	align-items: center;
}
.calificacion > * {
	margin: 0;
}
.calificacion ion-icon {
	color: var(--main-color);
}
.icono-centrado {
	display: flex;
	justify-content: center;
}
